html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* delete browser defaults: */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    //font-family: arial;
   }
   
   header{
       background-color: #776c78;
       text-align: center;
       position: fixed;
       width: 100%;
       z-index: 1;
       top: 0;
       left: 0;
   }
   
   header h1{
       padding: 6px 12px;
       display: inline-block;
   }
   
   /* relative - this parent element has to have a position property that ist not static! */
   .banner{
       position: relative;
   }
   
   .banner img{
       object-fit: cover;
       height: 50%;//380px;
       width: 100%;
   }
   
   nav {
       background-color: #F4F4F4;
       padding: 30px;
       position: sticky; /* the nav bar stays allways below the banner (=static) ... */
       top: 250px; /* ...  but when it has reached a certain scrolling depth, it stays there (=fixed) */
   }
   
   nav ul{
       white-space: nowrap;
       max-width: 90%;
       margin: 0 auto; /* margin of automatic left and right --> centralizing all the list elements!
       squeezes them together but keeps relative distances among them (and absolute towards the borders */
   }
   
   nav li{
       width: 20%;
       display: inline-block;
   }
   nav li a{
       font-size: 24px;
       text-decoration: none;
       color: #4b4b4b;
   }
   
   main{
       max-width: 100%; /* for smaller screens */
       width: 1200px; /* absolute maximum */
       margin: 80px auto; /* top and bottom as well as left and right -> margin is equally destributed  */
       margin-top:300px;
       padding: 0 40px;
       box-sizing: border-box; /* this incoorporates the padding into the 100% */
   }
   
   article h2{
       color: #5D535E;
       font-size: 48px;
   }
   
   main .intro{ 
       text-decoration: none;
       font-size: 20px;
       line-height: 2em; 
       color:#5D535E
   }

   main .lower{ 
    text-decoration: none;
    font-size: 18px;
    line-height: 2em; 
    color:#5D535E
}
   
   article ul li{
       font-size: 20px;
       line-height: 2em; 
       color:#5D535E;
       padding-left: 25px;
   }
   
   .images{
       text-align: center;
       margin: 10px 0;
       white-space: nowrap;
   }
   
   .images li{
       display: inline-block;
       width: 20%;
       margin: 20px 5%;
   }
   
   .images li img{
       max-width: 100%;
       opacity: 0.5;
   }
   
    footer li {
        width: 20%;
        display: inline-block;
    }
    
    footer li a{
        font-size: 16px;
        text-decoration: none;
        color: #FFFFFF;
        height: auto;
    }
    
    footer{
        height: 40px;
        background:#776c78;
        color: white;
        line-height: 40px;
        text-align: center;
    }
   
   
   /* -------------- pseudo classes & elements (video 9)
   
   "selector:hover" 
   hover effect text: underline
   hover effect images: shift up a bit
   
   "selector:focus"
   when a field is in focus: overwrite boarder style
   
   "selector:valid"
   only if e.g. the entered text is a valid mail adress (s. HTML5 features)
   
   gibt auch noch weitere, zb. visited/checked/disbaled.. usw:
       https://www.w3schools.com/css/css_pseudo_classes.asp
   
   
   pseudoelements: https://www.w3schools.com/css/css_pseudo_elements.asp
   for injecting dynamic content 
   
   ---------------------- */
   
   nav li a:hover{
       text-decoration: underline;
       //background-color: #c8c2c9;
       padding: 10px;
   }
   
   .images li:hover{
       position: relative;
       top: -4px;
   }
   
   .images li img:hover{
       opacity: 1.0;
       cursor:pointer;
   }
   
   footer li a:hover{
       text-decoration: underline;
       background-color: #b4adb5;
       padding: 4px 8px;
       cursor:pointer;
   }
   
   
   /* --------------- Responsive Design
   Responsiveness or responsive Design/ Mobile First approach (and adopting later on for larger screens)
   media queries: how to style elements for different viewport-dimensions 
   view port meta tag: tells the browser what width the viewport should be
   responsive images: only load smaller images for mobile devices
   ------------------- */
   
   @media screen and (max-width: 900px) {
       main h2{
           font-size: 28px;
       }
   
       main {
           margin: 25px auto;
           margin-top:170px;
       }
   
       main .intro{ 
           font-size: 14px;
       }
   
       article ul li{
           font-size: 14px;
       }
   
       nav {
           background-color: #F4F4F4;
           padding: 10px;
           position: sticky;
           top: 140px;
       }
   
       header h1 img {
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 50%;
       }
   
       nav li a{
           font-size: 14px;
       }
 
       main .lower{ 
        font-size: 12px;
    }

       footer li a{
        font-size: 12px;
        }

        footer {
            height: 30px;
            background:#776c78;
            color: white;
            line-height: 30px;
            text-align: center;
        }
       
   }
   
   @media screen and (max-width: 700px){
       nav li{
           font-size: 18px;
           position: relative;
           display: block;
           width: 100%;
           margin: 12px 0;
       }
   
       .banner {
           display: none;
       }
   
       header{
           position:relative;
       }
   
       main {
           margin: 25px auto; 
       }
       
       nav{
           top: 0;
       }
   
       .images li{
           width: 40%;
           margin: 40px auto;
           display: block;
       }
   
       footer li a{
        font-size: 10px;
        }

        footer {
            height: 20px;
            background:#776c78;
            color: white;
            line-height: 20px;
            text-align: center;
        }
   
   }
   
@import '../bootstrap-scss/bootstrap';
   