/* delete browser defaults: */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
   }

header {
    background-color: #776c78;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 1;
    top: 0;
    left: 0;
}   

header h1{
    display: inline-block;
}

  /* Tooltip Container */
  label[data-tooltip] {
    position: relative;
    cursor: help;
  }
  
  /* Tooltip */
  label[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    background: #333;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    white-space: normal;
    //max-width: 220px;
    display: inline-block;
    min-width: 300px;
    max-width: none;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }
  
  /* Tooltip sichtbar beim Hover */
  label[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
  }

    
  .row, .col-25, fieldset {
    overflow: visible !important;
  }
  

/* ------------ Input.html specific settings: General --------------- */

.header_img_input_html {
    background-color: #776c78;
    height: 70px;
    text-align: center;
    position: fixed;
    padding: 2px;
    z-index: 999;
   }

.header_img_input_html img {
    height: 65px;
    width: 120px;
}

.container-md {
    margin-top: 6%;
    width: 95%;
    margin-bottom: 5%;
}

* {
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

fieldset .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
fieldset .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

footer li {
    width: 20%;
    display: inline-block;
}

footer li a{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    height: auto;
}

footer{
    height: 40px;
    background:#776c78;
    color: white;
    line-height: 40px;
    text-align: center;
}

/* ------------ Input types --------------- */

input[type=text], input[type=number], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=int], input[type=number] {
    width: 30%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=checkbox] {
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-left: 0%;
}

input[type=radio] {
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 0%;
}

.container-md .accordion-body {
    background-color: white;
    padding: 20px;
}

.container-md .accordion-body fieldset {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    //display:inline-block;
}


/* ------------ buttons --------------- */

.container-md .buttonArea {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display:inline-block;
    width: 100%;
}

.container-md button {
    z-index: 0;
}

.accordion .MySubmitButton {
    width: 20%;
    height: 42px;
    padding: 0px;
    margin: 0%;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5px;
    border-color:  #f2f2f2;
    background-color: rgb(37, 16, 193);
    color: #FFFFFF;
    float:right;
}

.accordion .Add { // a class which is being used in addUser, addFraction, ...
    width: 20%;
    height: 42px;
    padding: 0px;
    margin: 0%;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5px;
    background-color:  rgb(37, 16, 193); //#797479;
    color: #FFFFFF;
    float:right;
}

.accordion .Remove { // delete last additional user or fraction
    width: 20%;
    height: 42px;
    padding: 0px;
    margin: 0%;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5px;
    background-color:  rgb(37, 16, 193);
    color: #FFFFFF;
    float:right;
}


/* ------------ site specific --------------- */

.accordion #name{ 
    width: 33%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


/* ------------ sample specific --------------- */

.container-md .accordion-body #fractions {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:20px;
    margin-bottom: 0%;
    margin-left: 24%;
    display:inline-block;
    width: 75%;
}

.container-md .accordion-body #fractions .col-25{
    float: left;
    width: 35%;
    margin-top: 6px;
}

.container-md .accordion-body #fractions .col-75{
    float: left;
    width: 64%;
    margin-top: 6px;
}

.accordion #one_fraction {
    margin-left: 0%;
    padding: 12px; 
    line-height: 75%;
    border: 1px #ccc solid;
    //background-color:  #f4fcfc;
    border-radius: 5px;
}

.container-md #sample_accordion .buttonArea {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:0%;
    width: 80%;
    float: center;
}


/* ------------ result specific --------------- */

.accordion #add_other_fraction { 
    width: 74%;
    margin-left: 25%; 
    // border: 1px #ccc solid;
    //background-color:  #f4fcfc;
    border-radius: 5px;
}


/* ------------ dating specific --------------- */

.container-md .accordion-body .accordion-body fieldset {
    border-radius: 5px;
    background-color: #f5fafc;
    padding: 20px;
    //display:inline-block;
}

.container-md .accordion-body .accordion-body {
    border-radius: 0px;
    //background-color: rgb(156, 31, 31);
    margin-bottom: 20px;
    //display:inline-block;
}


/* ------------ obsolet things? --------------- */

.accordion .AddReference { // obsolet?
    width: 12%;
    //height: 42px;
    padding: 0px;
    margin: 0%;
    margin-top: 0%;
    cursor: pointer;
    border-radius: 5px;
    background-color:  rgb(37, 16, 193);
    color: #FFFFFF;
    float: center;
}


/* ------------ fancy stuff --------------- */

button:hover{
    text-decoration: underline;
    background-color: #b4adb5;
    cursor:pointer;
}

footer li a:hover{
    text-decoration: underline;
    background-color: #b4adb5;
    padding: 3%;
    cursor:pointer;
}

@media screen and (max-width: 1200px) {
    header {
        z-index: 1;
        position: fixed;
    }

    header h1{
        color: white;
        font-size: 32px;
        padding: 2px 12px 10px 12px;
        display: inline-block;
    }

    .header_img_input_html {
        background-color: #776c78;
        height: 70px;
        text-align: center;
        position: fixed;
        padding: 2px;
       }

    .container-md{
        color: #5D535E;
        margin-top:8%;
        width: 95%;
        margin-bottom: 5%;
    }
}


@media screen and (max-width: 800px) {
    header {
        z-index: 1;
        position: fixed;
    }
    
    header h1{
        color: white;
        font-size: 32px;
        padding: 2px 12px 10px 12px;
        display: inline-block;
    }
    
    .header_img_input_html {
        background-color: #776c78;
        height: 70px;
        text-align: center;
        position: fixed;
        padding: 2px;
    }
    
    .container-md{
        color: #5D535E;
        margin-top:12%;
        width: 95%;
        margin-bottom: 5%;
    }

    footer li a{
        font-size: 14px;
        }
   
        footer {
            height: 30px;
            background:#776c78;
            color: white;
            line-height: 30px;
            text-align: center;
        }
}

@media screen and (max-width: 720px) {
    header {
        z-index: 1;
        position: fixed;
    }
        
    header h1{
        color: white;
        font-size: 32px;
        padding: 2px 12px 10px 12px;
        display: inline-block;
    }
        
    .header_img_input_html {
        background-color: #776c78;
        height: 70px;
        text-align: center;
        position: fixed;
        padding: 2px;
    }
        
    .container-md{
        color: #5D535E;
        margin-top:16%;
        width: 95%;
        margin-bottom: 5%;
    }

    fieldset .col-25, fieldset .col-75 {
        width: 100%;
        margin-top: 0;
      }

      footer li a{
        font-size: 10px;
        }

        footer {
            height: 20px;
            background:#776c78;
            color: white;
            line-height: 20px;
            text-align: center;
        }
}


@import '../bootstrap-scss/bootstrap';
